li a {
    color: green;
    background-color: blanchedalmond;
}

body {
    background: white url("images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

